/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}


/*
body {
    background-image: url(../startpagina%20afb%201%20copy.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
*/

/*voor de nav*/
li {
    display: inline;
}


li:nth-of-type(1) {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0; padding: 0.5em;
}

li:nth-of-type(2) {
    position: absolute;
    right: 9em;
    top: 0;
    margin: 0; padding: 0.5em;
}

li:nth-of-type(3) {
    position: absolute;
    right: 2em;
    top: 0;
    margin: 0; padding: 0.5em;
}



section{
    margin: 0;
    padding: 0;
    
    height: 638px;
}


/* afb voor de 1e section*/
img:nth-of-type(1) {
    margin: 0;
    padding: 0;
    
    margin-top: -1em;
    margin-left: -1em;
    
    width: 100%;
}



/*voor link*/
a {
    text-decoration: none;
    
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
/*    color: rgb(0, 182, 214);*/
    text-shadow: 0 0 1em #ffffff;
}



/*tekst voor de 1e section*/
h1:nth-of-type(1) {
    position: relative;
    
    text-align: center;
    
    margin: 0;
    padding: 0.5;
    
    width: 5em;
    top: -10.5em;
    left: calc(50% - 3em);
    
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: rgb(0, 182, 214);
    text-shadow: 0 0 1em #ffffff;
}


p:nth-of-type(1) {
    position: relative;
    
    text-align: center;
    
    margin: 0;
    padding: 0;
    
    width: 20em;
    top: -23.5em;
    left: calc(50% - 11em);
    
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: white;
    text-shadow: 0 0 1em #000000;
    
}

p:nth-of-type(2) {
    position: relative;
    
    text-align: center;
    
    margin: 0;
    padding: 0;
    
    width: 20em;
    top: -23em;
    left: calc(50% - 11em);
    
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: white;
    text-shadow: 0 0 1em #000000;
}




/*opties heren dames kinderen home*/
.opties {
    position: absolute;
    
    text-align: center;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
    
    width: 18em;
    top: 25.5em;
    
    text-decoration: none;
    
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
/*    color: rgb(0, 182, 214);*/
    text-shadow: 0 0 1em #ffffff;
}



/*tekst voor de 2e section*/
/*
h1:nth-of-type(2) {
    position: relative;
    
    text-align: center;
    
    margin: 0;
    padding: 0.5;
    
    width: 5em;
    top: 135%;
    left: calc(50% - 2.5em);
}


p:nth-of-type(3) {
    
}

p:nth-of-type(4) {
    
}
*/



/*afb voor de 2e section*/
/*
img:nth-of-type(2) {
    margin: 0;
    padding: 0;
    
    top: -20em;
    
    width: 100%;
    
}
*/

/*afb voor de 3e section*/
/*
img:nth-of-type(3) {
    margin: 0;
    padding: 0;
    
    width: 100%;
    
}
*/


